node-red/AppleFindMe.json
[{"id":"52fbdab4.e16e54","type":"tab","label":"Apple Find Me","disabled":false,"info":""},{"id":"448c8df1.88b524","type":"debug","z":"52fbdab4.e16e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"e7ad6347.0d106","type":"apple-find-me-with-payload","z":"52fbdab4.e16e54","account":"31e76740.c36ce8","name":"Find Bear","geoAPI":"OSM","distanceInMeter":150,"hereMapApiKey":"","googleMapsApiKey":"","places":[{"name":"Home","lat":"39.15323231838565","lon":"-84.65682825081484"}],"x":300,"y":100,"wires":[["448c8df1.88b524","d5aa693d.7d8b58"]]},{"id":"e7bd2a89.516df8","type":"apple-find-me-with-payload","z":"52fbdab4.e16e54","account":"e83a6ba9.a314f8","name":"Find Dorothy","geoAPI":"OSM","distanceInMeter":150,"hereMapApiKey":"","googleMapsApiKey":"","places":[],"x":310,"y":220,"wires":[["621fae0a.2ffec","448c8df1.88b524"]]},{"id":"2cac585a.4b76e8","type":"hubitat command","z":"52fbdab4.e16e54","deviceLabel":"Bear-location","name":"","server":"994f3cc5.32bf2","deviceId":"1279","command":"updFromNr","commandArgs":"","x":850,"y":160,"wires":[["448c8df1.88b524"]]},{"id":"83e58c92.6551f","type":"change","z":"52fbdab4.e16e54","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":100,"wires":[["637a6e18.822ef"]]},{"id":"6782ab92.2ecf04","type":"json","z":"52fbdab4.e16e54","name":"","property":"payload","action":"","pretty":false,"x":630,"y":100,"wires":[["83e58c92.6551f"]]},{"id":"15439cb.6585863","type":"hubitat device","z":"52fbdab4.e16e54","deviceLabel":"Bear-location","name":"","server":"994f3cc5.32bf2","deviceId":"1279","attribute":"updateReqTS","sendEvent":true,"x":70,"y":140,"wires":[["e7ad6347.0d106"]]},{"id":"621fae0a.2ffec","type":"template","z":"52fbdab4.e16e54","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"name\": \"{{ payload.iPhone.0.displayName }}\",\n    \"latitude\":\"{{ payload.iPhone.0.locationInfo.latitude }}\",\n    \"longitude\": \"{{ payload.iPhone.0.locationInfo.longitude }}\",\n    \"deviceId\": \"{{ payload.iPhone.0.deviceID }}\",\n    \"currAddr\": {\n        \"sNum\":\"{{ payload.iPhone.0.locationInfo.currentAddress.house_number }}\",\n        \"sName\":\"{{ payload.iPhone.0.locationInfo.currentAddress.road }}\",\n        \"city\":\"{{ payload.iPhone.0.locationInfo.currentAddress.city }}\",\n        \"state\":\"{{ payload.iPhone.0.locationInfo.currentAddress.state }}\",\n        \"post\":\"{{ payload.iPhone.0.locationInfo.currentAddress.postcode }}\",\n        \"country\":\"{{ payload.iPhone.0.locationInfo.currentAddress.country_code }}\"\n    },\n    \"mapUrl\":\"{{ payload.iPhone.0.locationInfo.osmUrl }}\"\n}\n\n","output":"json","x":480,"y":220,"wires":[["f621319f.c0133","448c8df1.88b524"]]},{"id":"841aafcf.1df8b","type":"hubitat command","z":"52fbdab4.e16e54","deviceLabel":"Dorothy-location","name":"","server":"994f3cc5.32bf2","deviceId":"1280","command":"updFromNr","commandArgs":"","x":860,"y":280,"wires":[["448c8df1.88b524"]]},{"id":"bde098b8.0df408","type":"change","z":"52fbdab4.e16e54","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[["43720a74.11ae94"]]},{"id":"f621319f.c0133","type":"json","z":"52fbdab4.e16e54","name":"","property":"payload","action":"","pretty":false,"x":630,"y":220,"wires":[["bde098b8.0df408","448c8df1.88b524"]]},{"id":"bd22e7ee.09b348","type":"hubitat device","z":"52fbdab4.e16e54","deviceLabel":"Dorothy-location","name":"","server":"994f3cc5.32bf2","deviceId":"1280","attribute":"updateReqTS","sendEvent":true,"x":80,"y":220,"wires":[["e7bd2a89.516df8"]]},{"id":"d5aa693d.7d8b58","type":"template","z":"52fbdab4.e16e54","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"name\": \"{{ payload.iPhone.0.displayName }}\",\n    \"latitude\":\"{{ payload.iPhone.0.locationInfo.latitude }}\",\n    \"longitude\": \"{{ payload.iPhone.0.locationInfo.longitude }}\",\n    \"deviceId\": \"{{ payload.iPhone.0.deviceID }}\",\n    \"currAddr\": {\n        \"sNum\":\"{{ payload.iPhone.0.locationInfo.currentAddress.house_number }}\",\n        \"sName\":\"{{ payload.iPhone.0.locationInfo.currentAddress.road }}\",\n        \"city\":\"{{ payload.iPhone.0.locationInfo.currentAddress.city }}\",\n        \"state\":\"{{ payload.iPhone.0.locationInfo.currentAddress.state }}\",\n        \"post\":\"{{ payload.iPhone.0.locationInfo.currentAddress.postcode }}\",\n        \"country\":\"{{ payload.iPhone.0.locationInfo.currentAddress.country_code }}\"\n    },\n    \"mapUrl\":\"{{ payload.iPhone.0.locationInfo.osmUrl }}\"\n}\n\n","output":"json","x":480,"y":100,"wires":[["6782ab92.2ecf04"]]},{"id":"637a6e18.822ef","type":"rbe","z":"52fbdab4.e16e54","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":670,"y":160,"wires":[["2cac585a.4b76e8"]]},{"id":"19a2c95f.cb8737","type":"inject","z":"52fbdab4.e16e54","name":"5 Minute Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["e7ad6347.0d106","e7bd2a89.516df8"]]},{"id":"43720a74.11ae94","type":"rbe","z":"52fbdab4.e16e54","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":670,"y":280,"wires":[["841aafcf.1df8b"]]},{"id":"31e76740.c36ce8","type":"apple-find-me-account","name":"Bear","timezone":"US/Eastern","timeformat":"YYYY-MM-DD HH:mm:ss","timeout":"5"},{"id":"e83a6ba9.a314f8","type":"apple-find-me-account","name":"Dorothy","timezone":"US/Eastern","timeformat":"YYYY-MM-DD HH:mm:ss","timeout":"5"},{"id":"994f3cc5.32bf2","type":"hubitat config","name":"Hubitat Development","usetls":false,"host":"192.168.1.50","port":"80","appId":"5","nodeRedServer":"http://192.168.1.47:1880","webhookPath":"/hubitat/webhook_","autoRefresh":true,"useWebsocket":false,"colorEnabled":false,"color":"#ace043"}]