node-red/SmartThingsArlo.nodered
[{"id":"3e76ac38.81f6f4","type":"tab","label":"SmartThings Arlo","disabled":false,"info":""},{"id":"9a7303fd.9f035","type":"installed-device","z":"3e76ac38.81f6f4","name":"SmartThings Config Node","alias":"token:bd947dd2","device":"","devices":["5cd8b7dd-45ee-45c2-87af-b55a9bb1648e","d8e0e4d3-345d-43e2-a389-69a781e7a389","d48793cc-82e8-47f4-a8d4-24f5938f7a36","a6d8eaa4-255b-45f6-87b0-0866cfb833ee","6f100f0f-e7c0-49f1-875b-4d5e45917ba0","faee1372-5f5d-4ea8-b04a-2e6bb43fa5f5","aa3324ef-33a8-4b62-9072-2df90a1a041f","3c544ab4-18c3-4212-a8e6-460cdc0e78d1","a1fa65d4-7ffd-46d6-9e42-4110526b9804"],"profileId":"9a7303fd.9f035","x":170,"y":100,"wires":[]},{"id":"e65f9394.f1e0d","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Front Door Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"d48793cc-82e8-47f4-a8d4-24f5938f7a36","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":347,"y":200,"wires":[["156a1bf9.9eaa84"]]},{"id":"e09aa627.26ecf8","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Front Driveway Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a6d8eaa4-255b-45f6-87b0-0866cfb833ee","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":367,"y":260,"wires":[["e62ea334.fa58b"]]},{"id":"23926c4c.422b34","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Back Door Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"6f100f0f-e7c0-49f1-875b-4d5e45917ba0","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":347,"y":320,"wires":[["72768c14.83a904"]]},{"id":"5f1beb42.9c6374","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Driveway Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"faee1372-5f5d-4ea8-b04a-2e6bb43fa5f5","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":347,"y":380,"wires":[["605cc926.cfb418"]]},{"id":"ec2f42ef.e24de","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Deck Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"3c544ab4-18c3-4212-a8e6-460cdc0e78d1","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":337,"y":440,"wires":[["1bd1773c.2aea99"]]},{"id":"841da66d.bcf668","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Under Deck Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a1fa65d4-7ffd-46d6-9e42-4110526b9804","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":357,"y":500,"wires":[["4133f651.e73f68"]]},{"id":"7b8a9bd9.d11c94","type":"rbe","z":"3e76ac38.81f6f4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":807,"y":200,"wires":[["a8283883.721d38"]]},{"id":"965b6f2f.1182","type":"rbe","z":"3e76ac38.81f6f4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":807,"y":260,"wires":[["19ce9c06.6eda24"]]},{"id":"27acb797.c3bb88","type":"rbe","z":"3e76ac38.81f6f4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":807,"y":320,"wires":[["24d978ed.4d5018"]]},{"id":"ef751ebd.15c8c","type":"rbe","z":"3e76ac38.81f6f4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":807,"y":440,"wires":[["c304a91e.410508"]]},{"id":"6c03db4a.482884","type":"rbe","z":"3e76ac38.81f6f4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":807,"y":500,"wires":[["1991947f.c82a8c"]]},{"id":"e2ec22c3.5261","type":"rbe","z":"3e76ac38.81f6f4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":807,"y":380,"wires":[["bf97288c.7ab208"]]},{"id":"742fd9c5.ace0b8","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Door NR","name":"","server":"370afbe4.f9c244","deviceId":"1292","command":"updateStatus","commandArgs":"","x":1347,"y":200,"wires":[[]]},{"id":"10a4d4e.6dd552b","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1127,"y":200,"wires":[["742fd9c5.ace0b8"]]},{"id":"a8283883.721d38","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":947,"y":200,"wires":[["10a4d4e.6dd552b"]]},{"id":"6510810e.e5e91","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1291","command":"updateStatus","commandArgs":"","x":1367,"y":260,"wires":[[]]},{"id":"7e1a44f0.8ed7ec","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1127,"y":260,"wires":[["6510810e.e5e91"]]},{"id":"19ce9c06.6eda24","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":947,"y":260,"wires":[["7e1a44f0.8ed7ec"]]},{"id":"f5b87491.f412b8","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Back Door NR","name":"","server":"370afbe4.f9c244","deviceId":"1290","command":"updateStatus","commandArgs":"","x":1347,"y":320,"wires":[[]]},{"id":"a75831ed.1d248","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1127,"y":320,"wires":[["f5b87491.f412b8"]]},{"id":"24d978ed.4d5018","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":947,"y":320,"wires":[["a75831ed.1d248"]]},{"id":"2f708c27.ec4494","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1289","command":"updateStatus","commandArgs":"","x":1347,"y":380,"wires":[[]]},{"id":"d6fafcc6.1e4f","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1127,"y":380,"wires":[["2f708c27.ec4494"]]},{"id":"bf97288c.7ab208","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":947,"y":380,"wires":[["d6fafcc6.1e4f"]]},{"id":"1b5e85f2.f9f9ca","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Deck NR","name":"","server":"370afbe4.f9c244","deviceId":"1288","command":"updateStatus","commandArgs":"","x":1337,"y":440,"wires":[[]]},{"id":"57580e24.3459d","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1127,"y":440,"wires":[["1b5e85f2.f9f9ca"]]},{"id":"c304a91e.410508","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":947,"y":440,"wires":[["57580e24.3459d"]]},{"id":"e7d26ce7.35311","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Under Deck NR","name":"","server":"370afbe4.f9c244","deviceId":"1287","command":"updateStatus","commandArgs":"","x":1357,"y":500,"wires":[[]]},{"id":"c13335cc.0a9188","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1127,"y":500,"wires":[["e7d26ce7.35311"]]},{"id":"1991947f.c82a8c","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":947,"y":500,"wires":[["c13335cc.0a9188"]]},{"id":"9582fc19.bc6ec","type":"inject","z":"3e76ac38.81f6f4","name":"2s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":360,"wires":[["e65f9394.f1e0d","e09aa627.26ecf8","23926c4c.422b34","5f1beb42.9c6374","ec2f42ef.e24de","841da66d.bcf668"]]},{"id":"a927d1d4.00134","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Under Deck NR","name":"","server":"370afbe4.f9c244","deviceId":"1287","attribute":"switch","sendEvent":true,"x":120,"y":660,"wires":[["b9455ba6.12bc98"]]},{"id":"99993333.1edcb","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"on","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a1fa65d4-7ffd-46d6-9e42-4110526b9804","componentId":"main","capabilityId":"switch_v1","attributeId":"on","rules":[{"capaId":"switch_v1","attrId":"on","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":640,"wires":[[]]},{"id":"f23a5d85.1713d","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"off","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a1fa65d4-7ffd-46d6-9e42-4110526b9804","componentId":"main","capabilityId":"switch_v1","attributeId":"off","rules":[{"capaId":"switch_v1","attrId":"off","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":680,"wires":[[]]},{"id":"b9455ba6.12bc98","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":660,"wires":[["99993333.1edcb"],["f23a5d85.1713d"],["f8378366.990a2"]]},{"id":"f8378366.990a2","type":"function","z":"3e76ac38.81f6f4","name":"Exception Processing","func":"msg.payload.exceptionFlow = true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":840,"wires":[["fd3b2315.4950b"]]},{"id":"803d41ff.37d6b","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1291","attribute":"switch","sendEvent":true,"x":130,"y":740,"wires":[["aef9b118.8ebcc"]]},{"id":"7273e9af.dd63e8","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"on","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a6d8eaa4-255b-45f6-87b0-0866cfb833ee","componentId":"main","capabilityId":"switch_v1","attributeId":"on","rules":[{"capaId":"switch_v1","attrId":"on","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":720,"wires":[[]]},{"id":"509492ee.3f431c","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"off","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a6d8eaa4-255b-45f6-87b0-0866cfb833ee","componentId":"main","capabilityId":"switch_v1","attributeId":"off","rules":[{"capaId":"switch_v1","attrId":"off","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":760,"wires":[[]]},{"id":"aef9b118.8ebcc","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":740,"wires":[["7273e9af.dd63e8"],["509492ee.3f431c"],["f8378366.990a2"]]},{"id":"6263fa03.4bcb74","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1289","attribute":"switch","sendEvent":true,"x":110,"y":819,"wires":[["7eaa14c5.33218c"]]},{"id":"d60c19a4.5239a8","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"on","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"faee1372-5f5d-4ea8-b04a-2e6bb43fa5f5","componentId":"main","capabilityId":"switch_v1","attributeId":"on","rules":[{"capaId":"switch_v1","attrId":"on","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":799,"wires":[[]]},{"id":"cafee6fd.57bfc8","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"off","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"faee1372-5f5d-4ea8-b04a-2e6bb43fa5f5","componentId":"main","capabilityId":"switch_v1","attributeId":"off","rules":[{"capaId":"switch_v1","attrId":"off","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":839,"wires":[[]]},{"id":"7eaa14c5.33218c","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":819,"wires":[["d60c19a4.5239a8"],["cafee6fd.57bfc8"],["f8378366.990a2"]]},{"id":"2cc7014c.ec9f6e","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Back Door NR","name":"","server":"370afbe4.f9c244","deviceId":"1290","attribute":"switch","sendEvent":true,"x":110,"y":899,"wires":[["61dfa842.c05bf8"]]},{"id":"2ee36138.4cc0ce","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"on","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"6f100f0f-e7c0-49f1-875b-4d5e45917ba0","componentId":"main","capabilityId":"switch_v1","attributeId":"on","rules":[{"capaId":"switch_v1","attrId":"on","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":879,"wires":[[]]},{"id":"6e2df4d8.a4fd7c","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"off","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"6f100f0f-e7c0-49f1-875b-4d5e45917ba0","componentId":"main","capabilityId":"switch_v1","attributeId":"off","rules":[{"capaId":"switch_v1","attrId":"off","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":919,"wires":[[]]},{"id":"61dfa842.c05bf8","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":899,"wires":[["2ee36138.4cc0ce"],["6e2df4d8.a4fd7c"],["f8378366.990a2"]]},{"id":"bae4294c.6ba3f8","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1291","attribute":"switch","sendEvent":true,"x":130,"y":979,"wires":[["36fb3bdc.90d314"]]},{"id":"29262987.c80b26","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"on","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a6d8eaa4-255b-45f6-87b0-0866cfb833ee","componentId":"main","capabilityId":"switch_v1","attributeId":"on","rules":[{"capaId":"switch_v1","attrId":"on","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":959,"wires":[[]]},{"id":"f23e98c4.076528","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"off","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a6d8eaa4-255b-45f6-87b0-0866cfb833ee","componentId":"main","capabilityId":"switch_v1","attributeId":"off","rules":[{"capaId":"switch_v1","attrId":"off","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":999,"wires":[[]]},{"id":"36fb3bdc.90d314","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":979,"wires":[["29262987.c80b26"],["f23e98c4.076528"],["f8378366.990a2"]]},{"id":"eba75d5c.06b7d","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Door NR","name":"","server":"370afbe4.f9c244","deviceId":"1292","attribute":"switch","sendEvent":true,"x":110,"y":1059,"wires":[["2b30a7a8.a54608"]]},{"id":"a9bf28a0.8c02f8","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"on","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"d48793cc-82e8-47f4-a8d4-24f5938f7a36","componentId":"main","capabilityId":"switch_v1","attributeId":"on","rules":[{"capaId":"switch_v1","attrId":"on","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":1039,"wires":[[]]},{"id":"5167c827.add228","type":"command-device","z":"3e76ac38.81f6f4","name":"","alias":"ping","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"d48793cc-82e8-47f4-a8d4-24f5938f7a36","componentId":"main","capabilityId":"healthCheck_v1","attributeId":"ping","rules":[{"capaId":"healthCheck_v1","attrId":"ping","args":[]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":1079,"wires":[[]]},{"id":"2b30a7a8.a54608","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":1059,"wires":[["a9bf28a0.8c02f8"],["5167c827.add228"],["f8378366.990a2"]]},{"id":"3fa21f1d.6d3c","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"ST Notification","name":"","server":"370afbe4.f9c244","deviceId":"1254","command":"deviceNotification","commandArgs":"","x":1000,"y":920,"wires":[[]]},{"id":"7ad3c71d.682118","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":920,"wires":[["3fa21f1d.6d3c"]]},{"id":"fd3b2315.4950b","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":970,"y":840,"wires":[["7ad3c71d.682118"]]},{"id":"dbb11004.612f9","type":"comment","z":"3e76ac38.81f6f4","name":"Sync Refresh from Hubitat Devices","info":"","x":220,"y":1200,"wires":[]},{"id":"4411f34f.33a07c","type":"comment","z":"3e76ac38.81f6f4","name":"Hubitat request to turn cameras on/off","info":"","x":235,"y":580,"wires":[]},{"id":"589e82eb.cdea9c","type":"comment","z":"3e76ac38.81f6f4","name":"SmartThings polling for updates","info":"","x":190,"y":153,"wires":[]},{"id":"f1467163.a91eb","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1280,"wires":[["79f97ada.2e1254"]]},{"id":"8022c09.d310d4","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1340,"wires":[["7f8506dc.70a3a8"]]},{"id":"dbd8ec07.60e21","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1580,"wires":[["cfbd2c8.26705d"]]},{"id":"71eb5544.f20dcc","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1520,"wires":[["6590cd17.4d9394"]]},{"id":"8fdb764c.415898","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1460,"wires":[["af29e64.0c23418"]]},{"id":"436b197b.731f78","type":"switch","z":"3e76ac38.81f6f4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1400,"wires":[["e43bb625.054b28"]]},{"id":"79f97ada.2e1254","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Front Door Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"d48793cc-82e8-47f4-a8d4-24f5938f7a36","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":530,"y":1280,"wires":[["532bc6ab.5c4748"]]},{"id":"7f8506dc.70a3a8","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Front Driveway Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a6d8eaa4-255b-45f6-87b0-0866cfb833ee","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":550,"y":1340,"wires":[["eb978f8e.871be"]]},{"id":"532bc6ab.5c4748","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Front Door Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":798.5714340209961,"y":1278.5714111328125,"wires":[["749b2f5a.1625"]]},{"id":"eb978f8e.871be","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Front Driveway Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":798.5714340209961,"y":1338.5714111328125,"wires":[["982a4528.d01928"]]},{"id":"fcc0d488.fcc2b8","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Driveway Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1460,"wires":[["a8821a4.bfe89e8"]]},{"id":"6e9b76f4.29b148","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Deck Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":798.5714340209961,"y":1518.5714111328125,"wires":[["82e5bd5e.9c711"]]},{"id":"290db177.83a6be","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Back Door Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":798.5714340209961,"y":1398.5714111328125,"wires":[["91d64c3c.4560b"]]},{"id":"df42bf31.c9742","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Under Deck Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":798.5714340209961,"y":1578.5714111328125,"wires":[["effa87ff.3a7cc8"]]},{"id":"e43bb625.054b28","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Back Door Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"6f100f0f-e7c0-49f1-875b-4d5e45917ba0","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":528.5714340209961,"y":1398.5714111328125,"wires":[["290db177.83a6be"]]},{"id":"af29e64.0c23418","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Driveway Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"faee1372-5f5d-4ea8-b04a-2e6bb43fa5f5","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":528.5714340209961,"y":1458.5714111328125,"wires":[["fcc0d488.fcc2b8"]]},{"id":"6590cd17.4d9394","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Deck Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"3c544ab4-18c3-4212-a8e6-460cdc0e78d1","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":520,"y":1520,"wires":[["6e9b76f4.29b148"]]},{"id":"cfbd2c8.26705d","type":"status-device","z":"3e76ac38.81f6f4","name":"","alias":"Under Deck Camera","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a1fa65d4-7ffd-46d6-9e42-4110526b9804","componentId":"main","capabilityId":"motionSensor_v1","attributeId":"motion","rules":[],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":548.5714340209961,"y":1578.5714111328125,"wires":[["df42bf31.c9742"]]},{"id":"a86e3fb5.0375f","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Door NR","name":"","server":"370afbe4.f9c244","deviceId":"1292","command":"updateStatus","commandArgs":"","x":1428.571434020996,"y":1278.5714111328125,"wires":[[]]},{"id":"70301cc4.9dd2d4","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1208.571434020996,"y":1278.5714111328125,"wires":[["a86e3fb5.0375f"]]},{"id":"749b2f5a.1625","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":988.5714340209961,"y":1278.5714111328125,"wires":[["70301cc4.9dd2d4"]]},{"id":"62c7dd27.c6c464","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1291","command":"updateStatus","commandArgs":"","x":1450,"y":1340,"wires":[[]]},{"id":"6ed9bfa6.9f104","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1208.571434020996,"y":1338.5714111328125,"wires":[["62c7dd27.c6c464"]]},{"id":"982a4528.d01928","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":988.5714340209961,"y":1338.5714111328125,"wires":[["6ed9bfa6.9f104"]]},{"id":"241129a6.a13fb6","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Back Door NR","name":"","server":"370afbe4.f9c244","deviceId":"1290","command":"updateStatus","commandArgs":"","x":1428.571434020996,"y":1398.5714111328125,"wires":[[]]},{"id":"a82cb828.86e8a8","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1208.571434020996,"y":1398.5714111328125,"wires":[["241129a6.a13fb6"]]},{"id":"91d64c3c.4560b","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":988.5714340209961,"y":1398.5714111328125,"wires":[["a82cb828.86e8a8"]]},{"id":"59e082c0.daf38c","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1289","command":"updateStatus","commandArgs":"","x":1430,"y":1460,"wires":[[]]},{"id":"828df695.f42ac8","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1208.571434020996,"y":1458.5714111328125,"wires":[["59e082c0.daf38c"]]},{"id":"a8821a4.bfe89e8","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":988.5714340209961,"y":1458.5714111328125,"wires":[["828df695.f42ac8"]]},{"id":"d2363eb4.9524c","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Deck NR","name":"","server":"370afbe4.f9c244","deviceId":"1288","command":"updateStatus","commandArgs":"","x":1420,"y":1520,"wires":[[]]},{"id":"ffdc3e4e.c4be2","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1208.571434020996,"y":1518.5714111328125,"wires":[["d2363eb4.9524c"]]},{"id":"82e5bd5e.9c711","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":988.5714340209961,"y":1518.5714111328125,"wires":[["ffdc3e4e.c4be2"]]},{"id":"c7464775.38af68","type":"hubitat command","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Under Deck NR","name":"","server":"370afbe4.f9c244","deviceId":"1287","command":"updateStatus","commandArgs":"","x":1448.571434020996,"y":1578.5714111328125,"wires":[[]]},{"id":"d729f325.3d2de","type":"change","z":"3e76ac38.81f6f4","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1208.571434020996,"y":1578.5714111328125,"wires":[["c7464775.38af68"]]},{"id":"effa87ff.3a7cc8","type":"json","z":"3e76ac38.81f6f4","name":"","property":"payload","action":"","pretty":false,"x":988.5714340209961,"y":1578.5714111328125,"wires":[["d729f325.3d2de"]]},{"id":"ccb89ab5.375018","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Door NR","name":"","server":"370afbe4.f9c244","deviceId":"1292","attribute":"syncPending","sendEvent":true,"x":110,"y":1280,"wires":[["f1467163.a91eb"]]},{"id":"2e4baaef.1db356","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1291","attribute":"syncPending","sendEvent":true,"x":130,"y":1340,"wires":[["8022c09.d310d4"]]},{"id":"968c84b4.a84958","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Back Door NR","name":"","server":"370afbe4.f9c244","deviceId":"1290","attribute":"syncPending","sendEvent":true,"x":110,"y":1400,"wires":[["436b197b.731f78"]]},{"id":"fad63648.dd7ed8","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1289","attribute":"syncPending","sendEvent":true,"x":110,"y":1460,"wires":[["8fdb764c.415898"]]},{"id":"2449e563.d68a3a","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Deck NR","name":"","server":"370afbe4.f9c244","deviceId":"1288","attribute":"syncPending","sendEvent":true,"x":100,"y":1520,"wires":[["71eb5544.f20dcc"]]},{"id":"e1c14818.51fda8","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Under Deck NR","name":"","server":"370afbe4.f9c244","deviceId":"1287","attribute":"syncPending","sendEvent":true,"x":120,"y":1580,"wires":[["dbd8ec07.60e21"]]},{"id":"156a1bf9.9eaa84","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Front Door Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":200,"wires":[["7b8a9bd9.d11c94"]]},{"id":"e62ea334.fa58b","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Front Driveway Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":260,"wires":[["965b6f2f.1182"]]},{"id":"605cc926.cfb418","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Driveway Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":601.4285659790039,"y":381.4285888671875,"wires":[["e2ec22c3.5261"]]},{"id":"1bd1773c.2aea99","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Deck Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":440,"wires":[["ef751ebd.15c8c"]]},{"id":"72768c14.83a904","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Back Door Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":320,"wires":[["27acb797.c3bb88"]]},{"id":"4133f651.e73f68","type":"function","z":"3e76ac38.81f6f4","name":"Payload Construction","func":"try{\n    msound=msg.payload.components.main.soundSensor.sound.value;\n} catch (e1) {\n    msound=\"not detected\";\n}\ntry{\n    mclipv = msg.payload.components.main.videoCapture.clip.value;\n    if(!mclipv) mclipv=\"NA\";\n    mclipt = msg.payload.components.main.videoCapture.clip.timestamp;\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclipt = mclipt.replace(/:/g,\".\");\n    mclip = \"[value=\"+mclipv+\"; timestamp=\"+mclipt+\"]\";\n\n    mmotion = msg.payload.components.main.motionSensor.motion.value;\n    mbattery = msg.payload.components.main.battery.battery.value;\n    mswitch = msg.payload.components.main.switch.switch.value;\n    msg.payload={nodeName:\"Under Deck Camera\",motion:mmotion,battery:mbattery,switch:mswitch,sound:msound,clip:mclip};\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":500,"wires":[["6c03db4a.482884"]]},{"id":"54e34178.f5044","type":"function","z":"3e76ac38.81f6f4","name":"Timestamp from Hubitat","func":"timeStamp = new Date(msg.payload.value);\nmsg.payload = timeStamp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1740,"wires":[["52108d8a.6ba434"]]},{"id":"c6d60919.c94088","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Door NR","name":"","server":"370afbe4.f9c244","deviceId":"1292","attribute":"captureTS","sendEvent":true,"x":110,"y":1740,"wires":[["54e34178.f5044"]]},{"id":"40d8ba88.e58724","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Front Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1291","attribute":"captureTS","sendEvent":true,"x":130,"y":1800,"wires":[["a1f12e32.19e6e"]]},{"id":"ec8e22d5.15168","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Back Door NR","name":"","server":"370afbe4.f9c244","deviceId":"1290","attribute":"captureTS","sendEvent":true,"x":110,"y":1860,"wires":[["74c299bd.ed8b18"]]},{"id":"db3724ee.e89e18","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Driveway NR","name":"","server":"370afbe4.f9c244","deviceId":"1289","attribute":"captureTS","sendEvent":true,"x":110,"y":1920,"wires":[["cd798a32.bbb388"]]},{"id":"d99335dc.7abcd8","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Deck NR","name":"","server":"370afbe4.f9c244","deviceId":"1288","attribute":"captureTS","sendEvent":true,"x":100,"y":1980,"wires":[["b33716e8.07a438"]]},{"id":"fc4a61fd.e098f","type":"hubitat device","z":"3e76ac38.81f6f4","deviceLabel":"Arlo Under Deck NR","name":"","server":"370afbe4.f9c244","deviceId":"1287","attribute":"captureTS","sendEvent":true,"x":120,"y":2040,"wires":[["670a6058.e5a7a"]]},{"id":"a1f12e32.19e6e","type":"function","z":"3e76ac38.81f6f4","name":"Timestamp from Hubitat","func":"timeStamp = new Date(msg.payload.value);\nmsg.payload = timeStamp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1800,"wires":[["7a4b9664.f67578"]]},{"id":"b33716e8.07a438","type":"function","z":"3e76ac38.81f6f4","name":"Timestamp from Hubitat","func":"timeStamp = new Date(msg.payload.value);\nmsg.payload = timeStamp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1980,"wires":[["e3e248b0.aa91a8"]]},{"id":"670a6058.e5a7a","type":"function","z":"3e76ac38.81f6f4","name":"Timestamp from Hubitat","func":"timeStamp = new Date(msg.payload.value);\nmsg.payload = timeStamp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":2040,"wires":[["a2075560.14c218"]]},{"id":"cd798a32.bbb388","type":"function","z":"3e76ac38.81f6f4","name":"Timestamp from Hubitat","func":"timeStamp = new Date(msg.payload.value);\nmsg.payload = timeStamp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1920,"wires":[["ee3e7f83.ef1bf"]]},{"id":"74c299bd.ed8b18","type":"function","z":"3e76ac38.81f6f4","name":"Timestamp from Hubitat","func":"timeStamp = new Date(msg.payload.value);\nmsg.payload = timeStamp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1860,"wires":[["559b5328.1af54c"]]},{"id":"52108d8a.6ba434","type":"command-device","z":"3e76ac38.81f6f4","name":"Capture Video Clip","alias":"capture:2021-04-02T22:12:25Z","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"d48793cc-82e8-47f4-a8d4-24f5938f7a36","componentId":"main","capabilityId":"videoCapture_v1","attributeId":"capture","rules":[{"capaId":"videoCapture_v1","attrId":"capture","args":[{"name":"startTime","type":"Iso8601Date","value":"2021-04-02T22:12:25Z"},{"name":"captureTime","type":"Iso8601Date","value":"2021-04-02T22:12:25Z"},{"name":"endTime","type":"Iso8601Date","value":"2021-04-02T22:12:25Z"},{"name":"correlationId","type":"string","value":""},{"name":"reason","type":"string","value":""}]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":670,"y":1740,"wires":[[]]},{"id":"7a4b9664.f67578","type":"command-device","z":"3e76ac38.81f6f4","name":"Capture Video Clip","alias":"capture:2021-04-02T20:14:26Z","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a6d8eaa4-255b-45f6-87b0-0866cfb833ee","componentId":"main","capabilityId":"videoCapture_v1","attributeId":"capture","rules":[{"capaId":"videoCapture_v1","attrId":"capture","args":[{"name":"startTime","type":"Iso8601Date","value":"2021-04-02T20:14:26Z"},{"name":"captureTime","type":"Iso8601Date","value":"2021-04-02T20:14:26Z"},{"name":"endTime","type":"Iso8601Date","value":"2021-04-02T20:14:26Z"},{"name":"correlationId","type":"string","value":""},{"name":"reason","type":"string","value":""}]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":670,"y":1800,"wires":[[]]},{"id":"559b5328.1af54c","type":"command-device","z":"3e76ac38.81f6f4","name":"Capture Video Clip","alias":"capture:2021-04-02T20:14:41Z","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"6f100f0f-e7c0-49f1-875b-4d5e45917ba0","componentId":"main","capabilityId":"videoCapture_v1","attributeId":"capture","rules":[{"capaId":"videoCapture_v1","attrId":"capture","args":[{"name":"startTime","type":"Iso8601Date","value":"2021-04-02T20:14:41Z"},{"name":"captureTime","type":"Iso8601Date","value":"2021-04-02T20:14:41Z"},{"name":"endTime","type":"Iso8601Date","value":"2021-04-02T20:14:41Z"},{"name":"correlationId","type":"string","value":""},{"name":"reason","type":"string","value":""}]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":670,"y":1860,"wires":[[]]},{"id":"ee3e7f83.ef1bf","type":"command-device","z":"3e76ac38.81f6f4","name":"Capture Video Clip","alias":"capture:2021-04-02T20:14:55Z","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"faee1372-5f5d-4ea8-b04a-2e6bb43fa5f5","componentId":"main","capabilityId":"videoCapture_v1","attributeId":"capture","rules":[{"capaId":"videoCapture_v1","attrId":"capture","args":[{"name":"startTime","type":"Iso8601Date","value":"2021-04-02T20:14:55Z"},{"name":"captureTime","type":"Iso8601Date","value":"2021-04-02T20:14:55Z"},{"name":"endTime","type":"Iso8601Date","value":"2021-04-02T20:14:55Z"},{"name":"correlationId","type":"string","value":""},{"name":"reason","type":"string","value":""}]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":670,"y":1920,"wires":[[]]},{"id":"e3e248b0.aa91a8","type":"command-device","z":"3e76ac38.81f6f4","name":"Capture Video Clip","alias":"capture:2021-04-02T20:15:18Z","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"3c544ab4-18c3-4212-a8e6-460cdc0e78d1","componentId":"main","capabilityId":"videoCapture_v1","attributeId":"capture","rules":[{"capaId":"videoCapture_v1","attrId":"capture","args":[{"name":"startTime","type":"Iso8601Date","value":"2021-04-02T20:15:18Z"},{"name":"captureTime","type":"Iso8601Date","value":"2021-04-02T20:15:18Z"},{"name":"endTime","type":"Iso8601Date","value":"2021-04-02T20:15:18Z"},{"name":"correlationId","type":"string","value":""},{"name":"reason","type":"string","value":""}]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":670,"y":1980,"wires":[[]]},{"id":"a2075560.14c218","type":"command-device","z":"3e76ac38.81f6f4","name":"Capture Video Clip","alias":"capture:2021-04-02T20:15:30Z","deviceNodeId":"9a7303fd.9f035","deviceType":"installed-device","deviceId":"a1fa65d4-7ffd-46d6-9e42-4110526b9804","componentId":"main","capabilityId":"videoCapture_v1","attributeId":"capture","rules":[{"capaId":"videoCapture_v1","attrId":"capture","args":[{"name":"startTime","type":"Iso8601Date","value":"2021-04-02T20:15:30Z"},{"name":"captureTime","type":"Iso8601Date","value":"2021-04-02T20:15:30Z"},{"name":"endTime","type":"Iso8601Date","value":"2021-04-02T20:15:30Z"},{"name":"correlationId","type":"string","value":""},{"name":"reason","type":"string","value":""}]}],"logging":false,"loggingEditor":false,"loggingConsole":false,"outputs":1,"x":670,"y":2040,"wires":[[]]},{"id":"7258363c.04b928","type":"comment","z":"3e76ac38.81f6f4","name":"Video Clip Capture","info":"","x":170,"y":1680,"wires":[]},{"id":"a1837c91.8b014","type":"inject","z":"3e76ac38.81f6f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":590,"y":1680,"wires":[["52108d8a.6ba434"]]},{"id":"370afbe4.f9c244","type":"hubitat config","name":"Hubitat Main","usetls":false,"host":"192.168.1.38","port":"80","appId":"1434","nodeRedServer":"http://192.168.1.47:1880","webhookPath":"/hubitat/webhook","autoRefresh":true,"useWebsocket":false,"colorEnabled":false,"color":"#ace043"}]
